.hotel-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f6f8;
}

.top-bar {
  display: flex;
  align-items: center;
  padding: 20rpx;
  gap: 15rpx;
  background: #fff;
}

.city {
  font-size: 32rpx;
  font-weight: 600;
}

.date-block {
  display: flex;
  flex-direction: column;
  font-size: 24rpx;
  color: #666;
}

.nights {
  color: #1677ff;
}

.search-input {
  flex: 1;
  background: #f2f3f5;
  padding: 10rpx;
  border-radius: 20rpx;
}

.loc-icon {
  font-size: 28rpx;
}

.filter-bar {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 20rpx 0;
  border-bottom: 1px solid #eee;
}

.sort-item {
  display: flex;
  align-items: center;
}

.arrow {
  margin-left: 6rpx;
  font-size: 20rpx;
}

.tag-bar {
  padding: 15rpx;
  background: #fff;
}

.tag-item {
  display: inline-block;
  padding: 10rpx 20rpx;
  background: #f2f3f5;
  border-radius: 30rpx;
  margin-right: 15rpx;
}

.active-tag {
  background: #1677ff;
  color: #fff;
}

.list {
  flex: 1;
  padding: 20rpx;
}

.hotel-card {
  display: flex;
  background: #fff;
  border-radius: 20rpx;
  padding: 20rpx;
  margin-bottom: 20rpx;
}

.hotel-img {
  width: 180rpx;
  height: 180rpx;
  background: #ddd;
  border-radius: 10rpx;
}

.hotel-info {
  flex: 1;
  margin-left: 20rpx;
}

.hotel-name {
  font-size: 30rpx;
  font-weight: 600;
}

.hotel-price {
  margin-top: 15rpx;
  font-size: 34rpx;
  color: #ff4d4f;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
}

.drawer {
  width: 80%;
  height: 100%;
  background: #fff;
  padding: 30rpx;
}

.sort-dropdown {
  position: absolute;
  top: 200rpx;
  left: 0;
  width: 100%;
  background: #fff;
}

.sort-option {
  padding: 25rpx;
  border-bottom: 1px solid #eee;
}

.star-options {
  display: flex;
  flex-wrap: wrap;
  gap: 15rpx;
}

.star-item {
  padding: 10rpx 20rpx;
  background: #f2f3f5;
  border-radius: 20rpx;
}

.active-star {
  background: #1677ff;
  color: #fff;
}

.confirm-btn {
  margin-top: 30rpx;
  background: #1677ff;
  color: #fff;
  text-align: center;
  padding: 20rpx;
  border-radius: 30rpx;
}